/*
	create by weigy on 20141107
*/

/*** index.jsp ***/
body {
    background-color: #eee;
    padding-top: 70px;          /* leave a distance from the navbar */
}

.ib_idx_caption_h {
    text-align: center;
}

/*** navbar.jsp ***/
#ib_navbar_nav {
    background-color: #428bca;
    margin: auto;
}

#ib_navbar_menu_a {
    color: #fff;
}

#ib_navbar_login_a, #ib_navbar_reg_a {
    color: #fff;
}

#ib_navbar_link_index_a {
    font-size: 250%;
    font-weight: bold;
    color: white;
}

/*** navbar.jsp ***/
#ib_pag_nav {
    margin: 0 auto;
    width: auto;
    text-align: center;
}

/*** login.jsp ***/
#ib_login_form {
    width: 25%;
    margin: 15% auto 0 auto;
}

#ib_login_label {
    font-size: 150%;
}

.ib_login_error_div {
    color: red;
}

#ib_login_submit_btn {
    margin: 0 10%;
}

#ib_login_reg_btn {
    margin: 0 10%;
    float: right;
}

/*** reg.jsp ***/
#ib_reg_form {
    width: 30%;
    margin: 15% auto 0 auto;
}

#ib_reg_label {
    font-size: 150%;
}

.ib_reg_error_div {
    color: red;
}
